@model IEnumerable<DataBase.Page>

<!---slider-->
<div class="news-slider border-radius">
    <div id="slider-one" class="owl-carousel">
        @foreach (var item in  Model)
        {
            <div class="item">
                <img  style="width: 150px;height:fit-content" src="~/PageImages/@item.ImageName">
                <div class="left-side">
                    <h2>
                        <a href="">@item.PageTitle</a>
                    </h2>
                    <p>
                        @item.ShortDescription
                    </p>
                    <span> <i class="fa fa-calendar"></i> انتشار :@item.CreateDate.ToShamsi() </span>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
    <a href="/Archive" class="news-archive"> <i class="icons icon-doc-1"></i> آرشیو کامل خبرها </a>
</div>
<!---End slider-->